annotated-types==0.7.0
bcrypt==4.2.0
blinker==1.8.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy==1.11.2
mypy-extensions==1.0.0
pydantic==2.9.2
pydantic_core==2.23.4
PyJWT==2.9.0
pymongo==4.9.1
python-dotenv==1.0.1
ruff==0.6.7
types-Flask-Cors==5.0.0.20240902
typing_extensions==4.12.2
Werkzeug==3.0.4
